body {
    
    padding:0;
    text-align:center;
}

.Content {
    width:800px;
    margin:0 auto;
    text-align:left;
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
}
h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 14px;
}